@font-face {
  font-family: 'Metropolis1920';
  src: url('./Metropolis1920.otf');
}

.logo {
  font-family: 'Metropolis1920';
  color: white;
}

div.social-wrap a {
  padding-left: 45px;
  height: 35px;
  background: none;
  border: none;
  background-size: 35px 35px;
  background-position: left center;
  background-repeat: no-repeat;
  border-radius: 4px;
  color: white;
  font-family:"Merriweather Sans", sans-serif;
  font-size: 14px;
  margin-bottom: 15px;
  width: 225px;
  border-bottom: 2px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  box-shadow: 0 4px 2px -2px gray;
  text-shadow: rgba(0, 0, 0, .5) -1px -1px 0;
}

a#facebook {
  border-color: #2d5073;
  background-color: #4a6ea9;
  background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);
}

a#facebook:hover {
  color: white;
  background-color: #3b5998;
}
